<!DOCTYPE html>
<html>
<head>
  <title>Vx016c</title>
  <meta charset="utf-8">
  <style>
	#app {
		display: inline-block;
		font-family: Heebo;
		padding: 14px;
		}
	.fte16 {font-size: 20px;}
	.fte18 {font-size: 24px;}
	.vd {color: green;  }
	.mr {color: maroon;  }
	.neg { font-weight: bold; }
	H1 { color: crimson; }
	P {margin-top: 0px; margin-bottom: 0px;}
  </style>
  <script src="vue334.js"></script>
  <script>
	var prods = [];
	var vm = "";
	const app = Vue.createApp({
		data() {
			return {
				cod: '',
				descri: '',
				preco: '',
				noped: '',
				produtos: prods
				}
			},
		methods: {
			loadReg(){
				this.produtos = JSON.parse(localStorage.getItem(this.noped));
				},
			saveReg(){
				localStorage.setItem(this.noped,JSON.stringify(this.produtos));
				var URL = "RecebeJsonText.php?Id=" + this.noped;
				console.log(URL);
				fetch(URL, {
						headers: { 'Content-Type': 'text/plain' },
						method: "POST",
						body: JSON.stringify(this.produtos)
						})
				.then(response=>response.text())
				.then(data=>{ console.log(data); })
				.catch(function(res){ console.log(res) })
				},
			addProd() {
				this.produtos.push({ cod: this.cod, descri: this.descri, preco: this.preco });
				this.cod = '';
				this.descri = '';
				this.preco = '';
				// Ordena
				this.produtos.sort(function (obj1, obj2) {
					return obj1.cod < obj2.cod ? -1 :(obj1.cod > obj2.cod ? 1 : 0);
					});
				},
			delProd(idx) {
				this.produtos.splice(idx, 1);
				},
			edtProd(idx) {
				this.cod = this.produtos[idx].cod;
				this.descri = this.produtos[idx].descri;
				this.preco = this.produtos[idx].preco;
				this.delProd(idx);
				}
			},
		computed: {
			frmOk: function() {
				return this.cod && this.descri && this.preco;
				},
			temProd: function(){
				return ( this.produtos.length > 0 );
				}
			}
	  })
		
	function init(){
		vm = app.mount('#app')
		}
  </script>
</head>
<body onload="init();">

<h1>Vue 3 Exemplo</h1>
<p>Formulário de dados imediatos. Salvando e carregando registros do localStorage.</p>

<div id="app">

	<h1>N<sup>o</sup> do Pedido</h1>
	<button @click="saveReg">SAVE &#10155;&#128190;</button>
	<button @click="loadReg">LOAD &#128194;&#10155;</button>
	<br>
	<label>Pedido:<input name="Noped" v-model="noped" /><br>
	<h1>Produtos</h1>

	<form name="frm1" @submit.prevent="addProd">
		<!-- Introdução do v-model -->
		<table>
			<tr><td><label>Código:</td><td><input name="Cod" v-model="cod" /></td></tr>
			<tr><td><label>Descrição:</td><td><input name="Descri" v-model="descri" /></td></tr>
			<tr><td><label>Preço:</td><td><input name="Preco" v-model="preco" /></td></tr>
			<tr><td colspan=2><input type="submit" v-if="frmOk" value="GRAVAR"></td></tr>
		</table>
	</form>
	<p>&nbsp;</p>
	<table>
		<tr v-if="temProd"><th>No.</th><th>Código</th><th>Descrição</th><th>Preço (R$)</th></tr>
		<tr v-for="(item,k) in produtos" :key="item.cod">
			<td>{{ k }}</td><td>{{ item.cod }}</td><td>{{ item.descri }}</td><td>{{ item.preco }}</td>
			<td class="fte18 vd">&#128065;</td><td class="fte16" @click="edtProd(k)">&#9997;</td><td class="fte16 mr neg" @click="delProd(k)">&#128465;</td>
		</tr>
	</table>

</div>

</body>
</html>